[[source]]
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"
"autopep8" = "*"
rope = "*"
pytest = "*"

[packages]
flask = "*"
gevent = "*"
raven = {extras = ["flask"]}
flask-restful = "*"
sqlalchemy = "*"

[requires]
python_version = "3.6"
